<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Reward</title>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <p>Daily Rewards</p>
      </div>
      <ul>
        <li><a href="/">Rewards</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/createreward.html">Create Rewards(Admin)</a></li>
      </ul>
    </nav>
    <div>
      <form action="post">
        <label for="name">Reward name</label>
        <input placeholder="Reward name" type="text" id="name" required />
        <label for="credis">Required credits</label>
        <input
          placeholder="
        Enter number of credits"
          type="number"
          id="credits"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
