<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily rewards</title>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <p>Daily Rewards</p>
      </div>
      <ul>
        <li><a href="/">Rewards</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/createreward.html">Create Rewards(Admin)</a></li>
      </ul>
    </nav>
    <form id="selectReward">
      <div><h1>Reward 1</h1></div>
      <button>Apply reward</button>
      <ul>
        <li>manzana</li>
        <li>pera</li>
      </ul>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="socket_client.js"></script>
  </body>
</html>
